{% extends "base.html" %}
{% load static %}
{% block title %}
    {% if edit_flag %} Редактировать запись {% else %} Добавить запись {% endif %}
{% endblock %}

{% block header %}
<div>{% if edit_flag %} Редактировать запись {% else %} Добавить запись {% endif %}</div>
{% endblock %}

{% block content %}
{% if edit_flag %}<form method="post" action="{% url 'post_edit' post.author.username post.id %}" enctype="multipart/form-data">
    {% else %}<form method="post" action="{% url 'new_post' %}" enctype="multipart/form-data">
{% endif %}
    
        {% csrf_token %}

    {% for error in form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endfor %}

        {% for field in form %}
            <div class="form-group row" aria-required={% if field.field.required %}"true"{% else %}"false"{% endif %}>
                <label for="{{ field.id_for_label }}" class="col-md-4 col-form-label text-md-right">{{ field.label }}{% if field.field.required %}<span class="required">*</span>{% endif %}</label>
                <div class="col-md-6">
                    {{ field }}
                    {% if field.help_text %}
                    <small id="{{ field.id_for_label }}-help" class="form-text text-muted">{{ field.help_text|safe }}</small>
                    {% endif %}
                </div>
            </div>
        {% endfor %}

        <div class="col-md-6 offset-md-4">              
            <button type="submit" class="btn btn-primary">

                <div>{% if edit_flag %} Сохранить {% else %} Добавить {% endif %}</div>

            </button>
        </div>

{% endblock %}
