{% extends "base.html" %}
{% load thumbnail %}
{% block title %}Пост{% endblock %}
{% block header %}Пост{% endblock %}
{% block content %}
<main role="main" class="container">
    <div class="row">
            <div class="col-md-3 mb-3 mt-1">
                <div class="card">
                {% include "author.html" with author=post.author %}
                </div>
            </div>
        <div class="col-md-9">
        {% include "post_item.html" with post=post %}
        {% include "comments.html" with form=comment_form comments=post.comments.all %}
        </div>
    </div>
</main>
{% endblock %}